/* your styles go here */
html {
    scroll-behavior: smooth;
}
nav{
z-index: 99999;
}
#circle{
position: relative;
top: 250px;
width: 220px;
height: 220px;
border-radius: 50%;
background-image: linear-gradient(to top, #8E4693 0%, #fecfef 99%, #E3CEDF 100%);
animation: toBig2 3s ease both; 
animation-timeline: scroll();
animation-range: 0% 6%;
}
@keyframes toBig2 {
0%{
    width: 220px; height: 220px;
}
100%{
    width: 300px; height: 300px;
}
}
#rounded_rectangle{
width: 230px;
height: 400px;
border-radius: 0px 0px 110px 110px;
background-image: linear-gradient(to top, #8E4693 0%, #fecfef 99%, #E3CEDF 100%);
position: absolute;
top: 0px;
right: 10%;
animation: toLong 2s ease both;
animation-timeline: scroll();
animation-range: 0% 5%; 
/* background-image: linear-gradient(to top,  #E3CEDF 0% ,#8E4693 100%,); */
}
@keyframes toLong {
0%{
    height: 250px;
}
100%{
    height: 500px;
}
}
.humanImg{
position: absolute;
top: 164px;


}
.container .btn_range{
overflow: hidden;
width: 300px;
height: 400px;
position: relative;
padding: 0;

}
.container .buttom{
position: relative;
background-color: gray;
width: 300px;
height: 300px;
overflow: hidden;
justify-content: center;
align-items: center;
border-color: black;
border-style: solid;
border-width: 12px;
border-radius: 10px;


}
.container .buttom img{
position: absolute;
top: 0;
left: 0;
width: 100%;
/* max-width: 100%; */
height: 100%;
/* max-height: 100%; */
transition: transform 0.5s ease; 

}
.btn_t_space{
position: absolute;
background-color:black;
right: 0px;
bottom: 180px;
width: 0px;
height: 150px;
border-radius: 10px 0px 10px 10px;
transition: right 0.5s ease, bottom 0.5s ease, width 0.5s ease, height 0.5s ease; 

}
.vertical-text {

position: absolute;
right: -5px;
bottom: 120px;
color: white;
writing-mode: vertical-lr; 
text-orientation: mixed;
transform: rotate(180deg); 
font-size: 1.2em;
transition: color 0.5s ease,font-size 0.5s ease,right 0.5s ease,bottom 0.5s ease;
}
.s1_triangle{
position: absolute;
width: 150px;
height: auto;
right: 50px;
top: 670px;
animation: toMove 3s ease both; 
animation-timeline: scroll();
animation-range: 0% 20%;

}

.s1_triangle img{
max-width: 100%;
max-height: auto;
}
@keyframes toMove {
0%{
    right: 50px;
}
100%{
    right: 300px;
}
}


.cross{
opacity: 0;
color: white;
/* transition: transform 0.5s ease; */
transition: opacity 0.5s ease, transform 0.5s ease;
}
#c1{
position: absolute;
top: 20px;
left: 20px;
}
#c2{
position: absolute;
top: 20px;
right: 20px;
}
#c3{
position: absolute;
bottom: 120px;
left: 20px;
}


.container .buttom:hover img{
transform: scale(1.2);
transition: 0.5s ease;
}

.container .buttom:hover + .btn_t_space{
right: 0px;
bottom: 65px;
width: 60px;
height: 160px;

transition: 0.5s ease;
}
.container .buttom:hover ~ .vertical-text {
color: red;
font-size: 1.3em;
right: -2px;
bottom: 85px;
transition: 0.5s ease;
}
.container .buttom:hover ~ .cross{
opacity: 1;
transform: rotate(45deg);
transition: 0.5s ease;
}
.koulen-regular {
font-family: "Koulen", sans-serif;
font-weight: 400;
font-style: normal;
color: white;
line-height: 100px;
}
.gothic-a1-regular {
font-family: "Gothic A1", sans-serif;
font-weight: 400;
font-style: normal;

}

.OPEN_PORTFOLIO{
position: relative;
color: white;
background-color: black;
width: 435px;
height: 80px;
border-radius: 13px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
transition:transform 0.4s ease;

}
.produce{
position: absolute;
top: 760px;
left: 0px;
background-image: url('./img/section_2.jpg');
width: 100%;
height: 1140px;
}

.cross-lg{
color: white;
font-size: 30px;
margin: 45px;
transform: rotate(45deg);
transition: transform 0.5s ease;
}
.cross-lg:hover{
transform: rotate(90deg);
}

.match-height {
display: inline-block; 
}
.welcome{
color: #FFC700;
}
/* // <uniquifier>: Use a unique and descriptive class name
/   / <weight>: Use a value from 100 to 900 */

.noto-sans-tc{
font-family: "Noto Sans TC", sans-serif;
font-optical-sizing: auto;
/* font-weight: <weight>; */
font-weight:700;
font-style: normal;
color: white;
}
.introduce{
color: white;
}
.mainbg{
background-image: url('./img/Rectangle15.jpg');
height: 762px;
position: absolute;
width: 100%;
top: 0;
left: 0;
/* z-index: -99999; */
}
.bg-transparent{
background-color: transparent;
}
/* .section1 {
height: 848px;
} */
.mt-10{
margin-top: 100px;
}
.enterBtn{
    width: 290px;
    height: 70px;
    border-radius: 41px;
    background-color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0px 0px 0px #000000;
} 
.enterBtn:hover{
    background-color: #B22B2B;
    color: white;
    box-shadow:3px 3px 10px #000000;
    transition: 0.4s ease;
}
.enterBtn .bi-arrow-up-short{
    transition: rotate 1s ease;
}

.enterBtn:hover .bi-arrow-up-short{
    transform: rotate(45deg);
}
.painter{
width: 654px;
height: 303px;
position: absolute;
top: 464px;
right: 50px;
}
#blue_rec{
position: absolute;
top: 100px;
right: 210px;
width: 200px;
height: 53px;
background-color: #4B86F8;
filter: brightness(120%);
}
.section1{
background-image: url('/img/Rectangle15.jpg');
background-size:cover; 
/* background-position: center; */
height: 760px;
width: 100%;
left: 0px;
right: 0px
}
.section2{
background-image:linear-gradient(to bottom, rgba(0,0,0,0) 95%, rgba(0,0,0,0.9)),
url('/img/section_2and3.jpg');
background-size: cover;
width: 100%;
height: 1900px;
}


.section3{
background-image: linear-gradient(to bottom, rgba(0,0,0,0) 90%, rgba(0,0,0,0.9)),
url('/img/Rectanglerock.png');
background-size: cover;
width: 100%;
height: 1000px;

}
.section4{
/* background-color: black; */

background-color: #B22B2B;
background: linear-gradient(to bottom, rgba(0, 0, 0), black 90%, #B22B2B);

width: 100%;
height: 690px;
}
#year{
color: transparent; /* 將文字顏色設為透明 */
-webkit-text-stroke-width: 3px; /* 設置文字邊框寬度 */
-webkit-text-stroke-color:white; /* 設置文字邊框顏色 */
font-size: 250px; /* 設置文字大小 */
writing-mode: vertical-rl; /* 垂直排列文字（從下到上） */
text-orientation: mixed; /* 混合文字方向 */
/* position: relative;
right: -250px;
top: -130px; */
position: absolute;
right: -180px;
top: -150px;

}
#year::after{
content: '';
animation: addYear 3s ease both; 
animation-timeline: scroll();
animation-range: 40% 60%;
}
@keyframes addYear{
/* 0%{ content: '1999';}
5%{ content: '2000';}
10%{ content: '2001';}
15%{ content: '2002';}
20%{ content: '2003';}
25%{ content: '2004';}
30%{ content: '2005';}
40%{ content: '2006';}
45%{ content: '2007';}
50%{ content: '2008';}
55%{ content: '2009';}
60%{ content: '2010';}
65%{ content: '2011';} */
0%{ content: '2012';}
8%{ content: '2013';}
16%{ content: '2014';}
24%{ content: '2015';}
32%{ content: '2016';}
40%{ content: '2017';}
48%{ content: '2018';}
56%{ content: '2019';}
64%{ content: '2020';}
72%{ content: '2021';}
80%{ content: '2022';}
88%{ content: '2023';}
100%{ content: '2024';}

}
.project{
width: 260px;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;



}
.project p{
color: white;
margin-bottom: 80px;


}
.project .year{
width: 170px;
height: 48px;
border-radius: 24px;
background-color: white;
color: black;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 11px;
transition: background-color 0.5s ease;

}
.project:hover .year {
background-color:#FFB800;
}
.project .point{
width: 40px;
height: 40px;
border-radius: 50%;
border: 2px solid white;
background-color: black;
transition: background-color 0.5s ease;
}
.project:hover .point{
background-color:#B22B2B;
}
.p1{
position: relative;
top: 170px;
}
.p2{
position: relative;
top: 100px;
}
.p3{
position: relative;
top: 30px;
}
.p4{
position: relative;
top: -40px;
}
.diagonal-line {
background-image:
    linear-gradient(to right, white 115px, transparent 0px);
    

background-size:
    155px 100%;
   
/* position: absolute;
top: 340px; */
position: relative;
top: 15px;
width: 100%;
height: 4px; /* 控制線的高度 */
/* background-color:white; 控制線的顏色 */
transform: rotate(-15deg); /* 將線逆時針旋轉30度 */
transform-origin: left top; /* 設置旋轉的原點為左上角 */
/* margin-top: 50px; 調整線的位置 */
}
.icons{
width: 100px;
height: auto;
animation: toBig 2s linear both;
/* animation-delay: 1s; 延迟1秒触发动画，确保页面加载后开始 */
animation-timeline: scroll();
animation-range: 65% 70%;

/* background-color: white; */
}
.icon-1{
position: relative;
top: 300px;
right: -300px;
width: 200px;
}
.icon-2{
position: relative;
top: 60px;
right: -200px;

}
.icon-3{
position: relative;
top: 80px;
right: -30px;

}
.icon-4{
position: relative;
top: 200px;
right: -350px;

}
.icon-5{
position: relative;
top: -300px;
right: -350px;

}
.icon-6{
position: relative;
top: -50px;
right: 100px;

}
@keyframes toBig {
0% {
    opacity: 0;
    scale: 0.2;
  
}
100% {
    opacity: 1;
    scale: 1;
 
}
}

.icons img{
max-width: 100%;
height: auto;
}
.section5{

background-color: #B22B2B;
width: 100%;
height: 780px;
}
.contact{
color:white;
}
.contact input{
width: 630px;
}
.contact div{
margin-top: 24px;
margin-bottom: 24px;
}
.contact p{
width: 400px;
}
.triangle{
width: 50px;
height: auto;
}
.triangle img{
max-width: 100%;
transform: rotate(180deg);
margin-left: 20px;
}
footer{

background-color: black;
color: white;
height: 48px;
display: flex;
align-items: center;
}
.arrow-d{
color:#B22B2B;
font-size: 50px;
transform: rotate(135deg);
transition: transform 0.5s ease; 
}
.OPEN_PORTFOLIO:hover{
transform: translateX(80px);
}
.OPEN_PORTFOLIO:hover .arrow-d{
transform: rotate(90deg);
}
.text-white{
color: white;
}
.hundredPlus{
color: red;
font-size: 2em;
}

.line {
width: 130px;
height: 2px;
background-color: white;
margin: 0px 10px 0px 10px;
}

.footer_icons {
    color: white;
}

.back_btn{
    color:grey;
   
    transition: transform 0.5s ease;
}

.back_btn:hover{
    color: #B22B2B;
}
